.table{
    border-radius: 1rem;
    overflow: hidden;
}

.no-results{
    background-color: white;
    color: #F0113D;
    text-align: center;
    border-radius: 3rem;
}

.selected{
    color: red;
}

.card{
    backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}
.card-title{
    color:white;
    text-align: center;
    padding-bottom: 15px;
    font-size: 22px;
}


button :hover{
    color: white;
}
.back{
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
i{
    vertical-align: middle;
}
span{
    vertical-align: middle;
}

.favorite{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.fa-heart:hover {
    color: inherit !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }

  .fa-solid {
    color: white;
    border: 1px solid black;
  }

.detailTabs{
    backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.3);
}

::ng-deep .mat-tab-header {
    background-color: #159C89;
  }

::ng-deep .mat-tab-label{
    color: white;
}

.entryName{
	font-weight: bold;
	font-size: 18px;
	color: #76FFE3;
	margin-bottom:5px;
}
.entryValue{
	font-size: 14px;
	color: white;
}

.status{
	border-radius: 3px;
	text-align: center;
	color: white;
	display: inline-block;
	padding: 5px 5px;
	font-size: 14px;
}
.onSaleStatus{
	background-color:green;
}
.offSaleStatus{
	background-color: Red;
}
.canceledStatus{
	background-color: black;
}
.postponedStatus{
	background-color: orange;
}
.rescheduledStatus{
	background-color: orange;
}

.twitter-icon{
    color: #00A8D7;
}

.facebook-icon{
    color: #0A4DD9;
}

.artist{
    color: #76FFE3;
    font-size: 17px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(100%);
  }

