.table{
    border-radius: 1rem;
    overflow: hidden;
}

.favorite-title{
    color: #76FFE3;
    font-size: 20px;
}


tr{
    border-top:2px solid #EDECEC;
}

.no-results{
    background-color: white;
    color: #F0113D;
    text-align: center;
    border-radius: 3rem;
}
