<div *ngIf="favorites.length==0" class="no-results mt-5 col-md-6 mx-auto"> 
    No favorite events to show
</div>
<div *ngIf="favorites.length!=0">
    <p class="favorite-title mx-auto text-center mt-5">List of your favorite events</p>
    <div class="table-responsive mt-3">
    <table class="table table-hover table-light text-center col-md-8 mx-auto">
        <thead style="border-bottom: 2px solid black;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
            <th scope="col">Category</th>
            <th scope="col">Venue</th>
            <th scope="col">Favorite</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let favorite of favorites; index as i" style="border-top: 3px solid #EDECEC;">
            <th scope="row">{{i+1}}</th>
            <td>{{favorite.date}}</td>
            <td>{{favorite.event}}</td>
            <td>{{favorite.category}}</td>
            <td>{{favorite.venue}}</td>
            <td> 
                <a (click)="moveToTrash(favorite)">
                <i class="fa-regular fa-trash-can" ></i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

